# Application
APP_ENV=development

# Postgres
POSTGRES_USER=pokemon
POSTGRES_PASSWORD=pokemon
POSTGRES_DB=pokemon_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_TTL=300  # seconds

# External API
POKEAPI_BASE_URL=https://pokeapi.co/api/v2
